#slideShow {
    position: relative;
    height: 45vh;
    border-radius: 30px;
    overflow: hidden;
    margin-bottom: 2rem;
}

#slideShow:hover {
    #item img {
        transform: scale(1.05);
    }
    #itemInfo {
        -webkit-backdrop-filter: blur(10px);
        backdrop-filter: blur(10px);    
    }
}

#item {
    width: 100%;
}

#item img {
    height: 100%;
    width: 100%;
    object-fit: fill;
    transition-property: all;
    transition-duration: 0.2s;
    border-radius: 30px;
}

#itemInfo {
    background-color: rgb(255, 255, 255, 0.5);
    -webkit-backdrop-filter: blur(2px);
    backdrop-filter: blur(2px);
    border-radius: 10px;
    position: absolute;
    right: 5%;
    top: 35%;
    height: fit-content;
    width: 40%;
    z-index: 2;
    display: grid;
    margin: auto;
    grid-template-rows: auto auto;
}

#itemInfo > p {
    padding: 1rem;
    margin: auto;
}

@media screen and (max-width: 860px) {
    #slideShow {
        height: 25vh;
        margin: 0 1rem;
    }
}

@media screen and (max-width: 500px) {
    #slideShow {
        height: 25vh;
        margin: 0 1rem;
    }
}