#sideMenuSwitch {
    
    left: 1em;
    margin: auto;
    object-fit: contain;
    height: 2em;
    width: 2em;
    padding: 0;
    border-radius: 10px;
    z-index: 5;
    outline: none;
}

#sideMenuSwitch:hover {
    cursor: pointer;
}

#logo {
    width: 20%;
}

#logo img {
    width: fit-content;
    height: 100%;
    object-fit: contain;
    cursor: pointer;
}

#search {
    width: 50%;
    display: flex;
    height: 100%;
    position: relative;
}

.ant-input-group-addon * {
    min-height: 100%;
    min-width: 100%;
}

.ant-dropdown *{
    font-size: 1.1em;
}

#userInfo {
    margin: auto;
    width: 25%;
    height: 40%;
    display: flex;
}

#cart {
    position: relative;
    height: 100%;
    width: 50%;
    margin: auto;
}

#user {
    height: 100%;
    width: 50%;
    display: flex;
}

#productQuantityInCart {
    padding: 0.2em;
    margin: auto;
    font-weight: bold;
    border: none;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 55%;
    height: 1.5em;
    width: 1.5em;
    color: #FFFFFF;
    background-color: green;
    display: flex;
    justify-content: center;
    align-items: center;
}

#cart img{
    height: 100%;
    margin: auto;
    object-fit: contain;
    cursor: pointer;
    border-radius: 50%;
}

#loginLink {
}

#userIcon {
    display: none;
    z-index: 2;
    height: 80%;
    object-fit: contain;
    margin: auto;
}

#userIcon:hover {
    cursor: pointer;
}


@media screen and (max-width: 1280px) {
    #sideMenuSwitch {
        visibility: visible;
    }
}

@media screen and (max-width: 767px) {
    #search input {
        font-size: smaller;
        height: 70%;
        width: 80%;
        border-radius: 10px;
        padding: 0 0.5rem;
    }
    input:placeholder-shown {
        padding: 0;
    }
    #userInfo {
        height: 90%;
        display: grid;
        grid-template-rows: repeat(2, minmax(0, 1fr));
    }

    #user {
        width: 100%;
    }

    #searchResultsDisplay {
        width: 100%;
        left: 0;
        border-radius: 10px;
    }
    
}