#sideMenu {
    width: 15%;
    height: fit-content;
    margin: 0 1rem;
    border-radius: 10px;
    background-color: #EEEEEE;
    transition-property: all;
    transition-duration: 0.2s;
    display: grid;
    grid-template-rows: auto;
}

.categoryItem {
    display: flex;
    padding: 1rem;
    border-radius: 10px;
}

.categoryItem:hover {
    background-color: #dedcdc;
    cursor: pointer;
}


.categoryItem img , #dropMenuSwitch img{
    width: 20%;
    object-fit: contain;
}

.categoryItem p {
    margin: auto;
    width: 80%;
}