#footerChild {
    font-size: large;
    display: flex;
    padding: 0.2em 0;
    text-align: left;
}

#footerChild img {
    width: 5em;
    height: 5em;
    margin: 0 0.5em;
    object-fit: contain;
}

#footerChild div {
    width: 50%;
}

@media screen and (max-width: 860px) {
    #footer {
        width: 100%;
    }

    #footer hr {
        margin: 0 3em;
    }

    #footerChild {
        display: block;
        text-align: center;
        padding: 0.5em 0;
    }

    #footerChild div {
        width: 100%;
        margin: 1em 0;
    }

    #footerChild div img{
        margin: auto;
    }
}

@media screen and (max-width: 425px) {
    #footerChild div {
        font-size: 0.8em;
    }
}