#productSection {

}

#productContainer {
    margin: 0;
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    column-gap: 2rem;
    row-gap: 2rem;
    transition: all 0.55s;
}

#productNavigator {
    width: 100%;
    height: 5vh;
    text-align: left;
    display: flex;
    margin-bottom: 1em;
}

#productNavigator *{
    margin: auto 0;
}

.naviOption {
    margin: 0 3em;
    width: 100%;
    display: flex;
}

#productNavigator select {
    outline: none;
    width: fit-content;
    margin: auto;
    height: fit-content;
    padding: 0.5em;
    font-size: medium;
    border-radius: 0.3em;
    margin-left: 1em;
}

.product {
    position: relative;
    overflow: hidden;
    height: 25vh;
    background-color: #F4EEEE;
    padding: 0.5em;
    border-radius: 10px;
    transition-property: all;
    transition-duration: 0.2s;
}

.productThumnail {
    height: 50%;
    width: 100%;
    overflow: hidden;
    border-radius: 5px;
}

.productInfo {
    padding-top: 1rem;
    height: 50%;
    display: grid;
    grid-template-rows: auto auto;
}

.productInfo > p {
    margin: auto;
}

.product:hover {
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.productThumnail img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    margin: auto;
    transition-property: all;
    transition-duration: 0.4s;
    border-radius: 5px;
}

@media screen and (max-width: 1280px) {
    #productContainer {
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }
}

@media screen and (max-width: 860px) {
    #productContainer {
        margin: 1rem 0;
        grid-template-columns: repeat(2, minmax(0, 1fr));
        column-gap: 1rem;
        row-gap: 1rem;
    }
}

@media screen and (max-width: 320px) {
    #productContainer {
        margin: 1rem 1rem;
        grid-template-columns: repeat(1, minmax(0, 1fr));
        column-gap: 1rem;
        row-gap: 1rem;
    }
}