#app {
    display: flex;
    position: relative;
}

#sideMenu {
    width: 15%;
    height: fit-content;
    margin: 0 1rem;
    border-radius: 10px;
    background-color: #EEEEEE;
    transition-property: all;
    transition-duration: 0.3s;
    display: grid;
    grid-template-rows: auto;
}

#sideMenuSwitch {
    display: none;
    position: fixed;
    margin-top: 1em;
    top: 10vh;
    left: 0.5em;
    height: 1.5em;
    width: 1.5em;
    padding: 0;
    border-radius: 10px;
    z-index: 5;
}

#sideMenuSwitch:hover {
    cursor: pointer;
    background-color: #D8D9DA;
}

#sideMenuSwitch img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.categoryItem {
    display: flex;
    padding: 1rem;
    border-radius: 10px;
    z-index: 1;
}

.categoryItem:hover {
    background-color: #dedcdc;
    cursor: pointer;
}


.categoryItem img , #dropMenuSwitch img{
    width: 2rem;
    object-fit: contain;
}

.categoryItem p {
    margin: auto;
    width: 80%;
}

#clearCategoryFilter img{
    margin: auto;
}

#content {
    width: 85%;
    margin: 0 2rem;
}

#content * {
    animation-name: fadeIn;
    animation-duration: 0.65s;
}

#clearCategoryFilter {
    display: none;
}

@media screen and (max-width: 1280px) {
    #sideMenu {
        transform: translateX(-50vh);
        position: absolute;
        z-index: 2;
        width: 30%;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    }

    #sideMenuSwitch {
        display: block;
    }

    #content {
        width: 100%;
    }
} 
  
@media screen and (max-width: 640px) {
    #sideMenu {
        transform: translateX(-50vh);
        width: 40%;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    }

    #sideMenuSwitch {
        display: block;
    }

    #content {
        width: 100%;
        margin: 0 1em;
    }
}

@media screen and (max-width: 320px) {
    #sideMenu {
        transform: translateX(-50vh);
        width: 60%;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    }

    #sideMenuSwitch {
        display: block;
    }

    #content {
        width: 100%;
        margin: 0 1em;
    }
}