* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 1.6;
}

#root {
  height: 100vh;
  text-align: center;
}

@font-face {
  font-family: 'Roboto';
  src:local('Roboto'), url('../public/Roboto/Roboto-Light.ttf') format('truetype');
}

body {
  position: relative;
  font-family: 'Roboto', sans-serif;
  font-size: larger;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  animation-duration: 1s;
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#header {
  position: sticky;
  top: 0px;
  z-index: 5;
  background-color: rgb(255, 255, 255, 0.5);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  display: flex;
  flex-direction: row;
  height: 10%;
  padding: 0 10rem;
}

#app, #dashboard {
  min-height: 90%;
  padding: 1rem 0;
}

#about {
  min-height: 75%;
}

#footer {
  border-radius: 0.5em;
  background-color: #F6F4EB;
  width: 70%;
  margin: auto;
  min-height: 15%;
  font-size: 1em;
}

a {
  color: black;
  text-decoration: none;
}

@media screen and (max-width: 1280px) {
  #header {
    padding: 0 5rem;
  }
  #app {
    margin: 0;
  }
  #footer {
    padding: 1rem 0;
  }
}

@media screen and (max-width: 860px) {
  body {
    font-size: larger;
  }
  #header {
    padding: 0;
  }
}

@media screen and (max-width: 480px) {
  body {
    font-size: medium;
  }

  #app {
    margin: 1rem 0;
    padding: 0;
    min-height: 55%;
  }

  #footer {
    height: 35%;
    padding: 0;
  }
}